USE [books_followUp]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 19-07-2025 11:49:26 م ******/
DROP TABLE [dbo].[departments]
GO
/****** Object:  Table [dbo].[committees]    Script Date: 19-07-2025 11:49:26 م ******/
DROP TABLE [dbo].[committees]
GO
/****** Object:  Table [dbo].[committees]    Script Date: 19-07-2025 11:49:26 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[committees](
	[coID] [int] NOT NULL,
	[Com] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[departments]    Script Date: 19-07-2025 11:49:26 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[deID] [int] NULL,
	[departmentName] [nvarchar](250) NULL,
	[coID] [int] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[committees] ([coID], [Com]) VALUES (2, N'هيئة الانتاج')
INSERT [dbo].[committees] ([coID], [Com]) VALUES (3, N'هيئة خدمات الطاقة')
INSERT [dbo].[committees] ([coID], [Com]) VALUES (4, N'م. مدير عام للشؤون الادارية')
INSERT [dbo].[departments] ([deID], [departmentName], [coID]) VALUES (2, N'قسم الاستلام والتجهيز', 2)
INSERT [dbo].[departments] ([deID], [departmentName], [coID]) VALUES (4, N'قسم تعاملات المياه', 3)
INSERT [dbo].[departments] ([deID], [departmentName], [coID]) VALUES (5, N'الشعبة الادارية', 5)
